{{/* Slack chat.postMessage payload */}}
{
  "channel": {{ .CustomData.channel | default "alertmanager" | withPrefix "#" | json }},
  "charset": "utf-8",
  "text": {{ .Title | json }},
  "attachments": [
    {
      "color": {{ when .Resolved "good" "#A30200" | json }},
      "fallback": {{ print
        .Title " "
        .Text " "
        "Status: " .Status ". "
        "Expected every " (.ExpectedBy.Sub .LastCheckIn) ", "
        "alerting delay " (.AlertingAt.Sub .ExpectedBy) ", "
        "alerting at " (.AlertingAt.Format "2006-01-02T15:04:05Z07:00") "."
        (optional " Status URL: %s." .App.StatusURL)
        | json
      }},
      "mrkdwn_in": ["text"],
      "text": {{ print
        .Text "\n\n"

        "*Schedule*\n"
        "• Check-in: `" .CheckInName "`\n"
        "• Expected every: `" (.ExpectedBy.Sub .LastCheckIn) "`\n"
        "• Alerting delay: `" (.AlertingAt.Sub .ExpectedBy) "`\n"
        "• Alerting after: `" (.AlertingAt.Sub .LastCheckIn) "`\n\n"

        "*Timeline*\n"
        "• Last check-in: `" (.LastCheckIn.Format "2006-01-02 15:04:05 MST") "`\n"
        "• Expected by: `" (.ExpectedBy.Format "2006-01-02 15:04:05 MST") "`\n"
        "• Alerting at: `" (.AlertingAt.Format "2006-01-02 15:04:05 MST") "`\n"
        "• " (when .Resolved "Resolved at" "Notified at") ": `" (.Now.Format "2006-01-02 15:04:05 MST") "`"
        (optional "\n\n*Status URL:* %s" .App.StatusURL)
        "\n\n"

        "*Status:* `" .Status "`"
        | json
      }}
    }
  ]
}
